<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itsu.site.framework.mapper.AccountMapper">

    <!-- 通过用户名获取用户的角色 -->
    <select id="getRolesByUsername" resultType="java.lang.String" parameterType="java.lang.String">
        select distinct(c.name)
        from td_account a
        left join td_account_role b
        on a.account_id = b.account_id
        left join td_role c
        on b.role_id = c.role_id
        where a.username = #{username}
    </select>

    <!-- 通过用户名获取用户的权限 -->
    <select id="getPermissionsByUsername" resultType="java.lang.String" parameterType="java.lang.String">
        select distinct(e.name)
        from td_account a
        left join td_account_role b
        on a.account_id = b.account_id
        left join td_role c
        on b.role_id = c.role_id
        left join td_role_permission d
        on c.role_id = d.role_id
        left join td_permission e
        on d.permission_id = e.permission_id
        where a.username = #{username}
    </select>

    <delete id="deleteAccountRole" parameterType="java.lang.Long">
        delete
        from td_account_role
        <where>
            1 = 1
            <if test="accountId != null">
                and account_id = #{accountId}
            </if>
            <if test="roleId !=null">
                and role_id = #{roleId}
            </if>
        </where>
    </delete>

    <insert id="addAccountRole" parameterType="java.lang.Long">
        insert into td_account_role (role_id, account_id)
        values (#{roleId}, #{accountId})
    </insert>

    <resultMap id="accountRolesMap" type="com.itsu.core.entity.Account">
        <id column="account_Id" property="accountId"/>
        <result column="username" property="username"/>
        <result column="name" property="name"/>
        <collection property="roles" ofType="com.itsu.core.entity.Role" javaType="java.util.List">
            <id column="role_id" property="roleId"/>
            <result column="name" property="name"/>
        </collection>
    </resultMap>

    <select id="getAccountRolesList" resultMap="accountRolesMap">
        select a.account_id accountId, a.username username, a.name AccountName, c.role_id roleId, c.name roleName
        from td_account a
        left join td_account_role b on a.account_id = b.account_id
        left join td_role c on b.role_id = c.role_id
        <where>
            1 = 1
            and
            <if test="${accountId !=null }">
                a.account_id = #{accountId}
            </if>
        </where>
    </select>
</mapper>